/* 2.2 - Default Color - start
================================================== */
.bg_default_red {background-color: $color_danger;}
.bg_default_blue {background-color: $color_primary;}
.bg_default_color {background-color: $color_secondary;}
.bg_default_black {background-color: $color_dark;}
.bg_default_yellow {background-color: $color_warning;}
.bg_default_orange {background-color: $color_danger;}
/* 2.2 - Default Color - end
================================================== */