/* 2.6 - Section Title - start
================================================== */
.section_title {
  display: flex;
  margin-bottom: 30px;
  transform: translateY(1px);
  border-bottom: 1px solid $color_border;
  .title_text {
    z-index: 1;
    color: $color_white;
    line-height: 1;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    margin-bottom: -1px;
    display: inline-block;
    text-transform: uppercase;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 13px 40px 13px 30px;
    background-color: $color_primary;
    i {
      font-size: 18px;
      margin-right: 8px;
    }
  }
}
/* 2.6 - Section Title - end
================================================== */