@{
    ViewData["Title"] = "Contact";
    Layout = "_Normal";
}
<!-- breadcrumb_section - start
        ================================================== -->
<div class="breadcrumb_section">
    <div class="container">
        <ul class="breadcrumb_nav ul_li">
            <li><a href="index.html">Home</a></li>
            <li>Contact Us</li>
        </ul>
    </div>
</div>
<!-- breadcrumb_section - end
================================================== -->
<!-- contact_section - start
================================================== -->
<section class="contact_section section_space">
    <div class="container">
        <div class="row">
            <div class="col col-lg-6">
                <div class="contact_info_wrap">
                    <h3 class="contact_title">Address Information</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <div class="row">
                        <div class="col col-md-6">
                            <div class="contact_info_list">
                                <h4 class="list_title">Colourbar U.S.A</h4>
                                <ul class="ul_li_block">
                                    <li>Dhaka in Twin Tower Concord</li>
                                    <li>Shopping Complex</li>
                                    <li>Open <b>10am</b> &  Closes <b>8pm</b> </li>
                                    <li>yourinfo@gmail.com</li>
                                    <li>(+880)1680636189</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col col-md-6">
                            <div class="contact_info_list">
                                <h4 class="list_title">USA Exchanger</h4>
                                <ul class="ul_li_block">
                                    <li>Dhaka in Twin Tower Concord</li>
                                    <li>Shopping Complex</li>
                                    <li>Open <b>10am</b> &  Closes <b>8pm</b> </li>
                                    <li>yourinfo@gmail.com</li>
                                    <li>(+880)1680636189</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-lg-6">
                <div class="contact_info_wrap">
                    <h3 class="contact_title">Get in Touch & Inform Us</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <form action="#">
                        <div class="form_item">
                            <input type="text" name="name" placeholder="Your Name">
                        </div>
                        <div class="row">
                            <div class="col col-md-6 col-sm-6">
                                <div class="form_item">
                                    <input type="email" name="email" placeholder="Your Email">
                                </div>
                            </div>
                            <div class="col col-md-6 col-sm-6">
                                <div class="form_item">
                                    <input type="text" name="subject" placeholder="Your Subject">
                                </div>
                            </div>
                        </div>
                        <div class="form_item">
                            <textarea name="message" placeholder="Message"></textarea>
                        </div>
                        <button type="submit" class="btn btn_primary">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact_section - end
================================================== -->
