<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title> @ViewData["Title"] | CyberCore</title>
    <link rel="shortcut icon" href="~/assets/images/logo/favourite-big-size-icon-removebg.png">

    <!-- fraimwork - css include -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">

    <!-- icon font - css include -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/stroke-gap-icons.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/icofont.css">

    <!-- animation - css include -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/animate.css">

    <!-- carousel - css include -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/slick.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/slick-theme.css">

    <!-- popup - css include -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/magnific-popup.css">

    <!-- jquery-ui - css include -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/jquery-ui.css">

    <!-- select option - css include -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/nice-select.css">

    <!-- custom - css include -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">

    <!--SB Admin-->
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="~/sbadmin/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body>
    <div>
        @RenderBody()
    </div>

    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/bootstrap5-dropdown-ml-hack.js"></script>

    <!-- carousel - jquery include -->
    <script src="~/assets/js/slick.min.js"></script>

    <!-- popup - jquery include -->
    <script src="~/assets/js/magnific-popup.min.js"></script>

    <!-- jquery-ui - jquery include -->
    <script src="~/assets/js/jquery-ui.js"></script>

    <!-- off canvas sidebar - jquery include -->
    <script src="~/assets/js/mCustomScrollbar.js"></script>

    <!-- select option - jquery include -->
    <script src="~/assets/js/nice-select.min.js"></script>

    <!-- countdown timer - jquery include -->
    <script src="~/assets/js/countdown.js"></script>

    <!-- counter up - jquery include -->
    <script src="~/assets/js/counterup.min.js"></script>
    <script src="~/assets/js/waypoints.min.js"></script>
    <script src="~/backend/js/site.js"></script>

    <!-- custom - jquery include -->
    <script src="~/assets/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.4/dist/sweetalert2.all.min.js"></script>
    <script>
        $(function () {
            var message = '@TempData["success"]';
            if (message != '') {
                Swal.fire(message);
            }
            var messageError = '@TempData["error"]';
            if (messageError != '') {
                Swal.fire(messageError);
            }
        });
    </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/sbadmin/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="~/sbadmin/assets/demo/chart-area-demo.js"></script>
    <script src="~/sbadmin/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="~/sbadmin/js/datatables-simple-demo.js"></script>
</body>
</html>
