@model MVC_FinalTerm.Models.ViewModels.UserRoleViewModel

@{
    ViewData["Title"] = "Assign Role to User";
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="page-header">Assign Role to User</h1>
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group row">
                    <label asp-for="UserId" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <select asp-for="UserId" class="form-control" asp-items="@ViewBag.UserId"></select>
                        <span asp-validation-for="UserId" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="RoleId" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <select asp-for="RoleId" class="form-control" asp-items="@ViewBag.RoleId"></select>
                        <span asp-validation-for="RoleId" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-10 offset-sm-2">
                        <input type="submit" value="Assign Role" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-secondary ml-2">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>