@model MVC_FinalTerm.Models.ProductImage

@{
    ViewData["Title"] = "Delete Product Image";
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="page-header">Delete Product Image</h1>
            <h3>Are you sure you want to delete this image?</h3>

            <div class="row">
                <div class="col-md-4">
                    <img src="~/frontend/images/products/@Model.Name" alt="Image" class="img-fluid" />
                </div>
                <div class="col-md-8">
                    <dl class="row">
                        <dt class="col-sm-3">Product Name</dt>
                        <dd class="col-sm-9">@Model.Product.Name</dd>

                        <dt class="col-sm-3">Image Name</dt>
                        <dd class="col-sm-9">@Model.Name</dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
