@model MVC_FinalTerm.Models.ProductImage

@{
    ViewData["Title"] = "Edit Product Image";
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="page-header">Edit Product Image</h1>
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="form-group row">
                    <label asp-for="ProductId" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
                        <span asp-validation-for="ProductId" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Name" class="col-sm-2 col-form-label">Current Image</label>
                    <div class="col-sm-10">
                        <img src="~/frontend/images/products/@Model.Name" alt="Current Image" class="img-fluid" style="max-width: 200px;" />
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Name" class="col-sm-2 col-form-label">Upload New Image</label>
                    <div class="col-sm-10">
                        <input name="ImageUpload" type="file" class="form-control-file" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-10 offset-sm-2">
                        <input type="submit" value="Update" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-secondary ml-2">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
