@model IEnumerable<MVC_FinalTerm.Models.ProductImage>

@{
    ViewData["Title"] = "List Product Images";
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="page-header">List Product Images</h1>
            <a asp-action="Create" class="btn btn-primary mb-2">Add New Image</a>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Image</th>
                        <th>Manage</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Product.Name</td>
                            <td><img src="~/frontend/images/products/@item.Name" alt="Image" style="width: 150px; height: auto;" /></td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">View Details</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
