
        <vc:categories></vc:categories>
        <vc:brands></vc:brands>

@* <div class="col-lg-3 order-lg-first">
    <aside class="sidebar_section ps-0 mt-lg-0">
        <vc:categories></vc:categories>
        <div class="sb_widget sb_category">
            <h3 class="sb_widget_title">Categories</h3>
            <!--View component-->
            
        </div>

        <div class="sb_widget sb_category">
            <h3 class="sb_widget_title">Brands</h3>
            <vc:brands></vc:brands>
        </div>

        <div class="sb_widget">
            <h3 class="sb_widget_title">Your Filter</h3>
            <div class="filter_sidebar">
                <div class="fs_widget">
                    <h3 class="fs_widget_title">Category</h3>
                    <vc:catefilter></vc:catefilter>
                </div>

                <div class="fs_widget">
                    <h3 class="fs_widget_title">Brand</h3>
                    <vc:brandfilter></vc:brandfilter>
                </div>

                <div class="fs_widget">
                    <h3 class="fs_widget_title">Price</h3>
                    <vc:pricefilter></vc:pricefilter>
                </div>

                <div class="fs_widget">
                    <h3 class="fs_widget_title">Average Rating</h3>
                    <vc:ratingfilter></vc:ratingfilter>
                </div>

                <div class="fs_widget">
                    <h3 class="fs_widget_title">Filter by Memory</h3>
                    <vc:memoryfilter></vc:memoryfilter>
                </div>
            </div>
        </div>


    </aside>
</div> *@