@{
    ViewData["Title"] = "Not Found - 404";
    Layout = "_Normal";
}
<!-- breadcrumb_section - start
        ================================================== -->
<div class="breadcrumb_section">
    <div class="container">
        <ul class="breadcrumb_nav ul_li">
            <li><a href="index.html">Home</a></li>
            <li>404 Error</li>
        </ul>
    </div>
</div>
<!-- breadcrumb_section - end
================================================== -->
<!-- error_section - start
================================================== -->
<section class="error_section section_space">
    <div class="container">

        <div class="error_content">
            <h1>4<span>0</span>4</h1>
            <h2>Sorry, but we couldn't find the page you are looking for.</h2>
            <p class="mb-0">
                Please check to make sure you've typed the URL correctly. Maybe try a search?
            </p>
        </div>

        <div class="row justify-content-center">
            <div class="col col-lg-6">
                <div class="error_search_form">
                    <form action="#">
                        <div class="newsletter_form">
                            <input type="search" name="search" placeholder="Search...">
                            <button type="submit" class="btn btn_secondary">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- error_section - end
================================================== -->
