@{
    ViewData["Title"] = "Compare";
    Layout = "_Normal";
}
<!-- breadcrumb_section - start
        ================================================== -->
<div class="breadcrumb_section">
    <div class="container">
        <ul class="breadcrumb_nav ul_li">
            <li><a href="index.html">Home</a></li>
            <li>Compare</li>
        </ul>
    </div>
</div>
<!-- breadcrumb_section - end
================================================== -->
<!-- compare_section - start
================================================== -->
<section class="compare_section section_space">
    <div class="container">
        <div class="compare_table">
            <table class="table">
                <tbody>
                    <tr>
                        <td><h3>Product</h3></td>
                        <td>
                            <img src="assets/images/compare/compare_img_1.jpg" alt="Getyootech - Gadgets Ecommerce Site Template">
                            <h4>Samsung Galaxy Note IV</h4>
                        </td>
                        <td>
                            <img src="assets/images/compare/compare_img_2.jpg" alt="Getyootech - Gadgets Ecommerce Site Template">
                            <h4>Samsung Galaxy Note IV</h4>
                        </td>
                        <td>
                            <img src="assets/images/compare/compare_img_1.jpg" alt="Getyootech - Gadgets Ecommerce Site Template">
                            <h4>Samsung Galaxy Note IV</h4>
                        </td>
                    </tr>
                    <tr>
                        <td><h3>Description</h3></td>
                        <td class="text-center">
                            <p>
                                Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis.
                            </p>
                        </td>
                        <td class="text-center">
                            <p>
                                Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis.
                            </p>
                        </td>
                        <td class="text-center">
                            <p>
                                Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td><h3>Color</h3></td>
                        <td class="text-center"><h3 class="text-primary">Blue</h3></td>
                        <td class="text-center"><h3 class="text-success">Green</h3></td>
                        <td class="text-center"><h3 class="text-danger">Red</h3></td>
                    </tr>
                    <tr>
                        <td><h3>Rating</h3></td>
                        <td>
                            <ul class="rating_star ul_li_center">
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                            </ul>
                        </td>
                        <td>
                            <ul class="rating_star ul_li_center">
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                            </ul>
                        </td>
                        <td>
                            <ul class="rating_star ul_li_center">
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td><h3>Stock</h3></td>
                        <td class="text-center">
                            <h3>
                                <i class="fa-solid fa-cart-circle-check text-success"></i>
                                In Stock
                            </h3>
                        </td>
                        <td class="text-center">
                            <h3>
                                <i class="fa-solid fa-cart-circle-check text-success"></i>
                                In Stock
                            </h3>
                        </td>
                        <td class="text-center">
                            <h3>
                                <i class="fa-solid fa-cart-circle-xmark text-danger"></i>
                                Out Stock
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        <td><h3>Add to cart</h3></td>
                        <td class="text-center"><a class="btn btn_gray" href="#!">Add To Cart</a></td>
                        <td class="text-center"><a class="btn btn_gray" href="#!">Add To Cart</a></td>
                        <td class="text-center"><a class="btn btn_gray" href="#!">Add To Cart</a></td>
                    </tr>
                    <tr>
                        <td><h3>Delete</h3></td>
                        <td class="text-center"><button class="remove_btn" type="button"><i class="fas fa-trash-alt"></i></button></td>
                        <td class="text-center"><button class="remove_btn" type="button"><i class="fas fa-trash-alt"></i></button></td>
                        <td class="text-center"><button class="remove_btn" type="button"><i class="fas fa-trash-alt"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- compare_section - end
================================================== -->
