@{
    ViewData["Title"] = "Blog";
    Layout = "_Normal";
}

<!-- breadcrumb_section - start
        ================================================== -->
<div class="breadcrumb_section">
    <div class="container">
        <ul class="breadcrumb_nav ul_li">
            <li><a href="index.html">Home</a></li>
            <li>Blog Standard</li>
        </ul>
    </div>
</div>
<!-- breadcrumb_section - end
================================================== -->
<!-- blog_section - start
================================================== -->
<section class="blog_section section_space">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col col-lg-8">
                <div class="bolg_standard">
                    <a class="item_image" href="blog_details.html">
                        <img src="assets/images/blog/blog_2.jpg" alt="Getyootech - Gadgets Ecommerce Site Template">
                    </a>
                    <div class="item_content">
                        <ul class="post_meta ul_li">
                            <li>17 July 2023</li>
                            <li><a href="#!">admin</a></li>
                            <li>
                                <ul class="category_list ul_li">
                                    <li><a href="#!">Company</a></li>
                                    <li><a href="#!">Travel</a></li>
                                </ul>
                            </li>
                        </ul>
                        <h3 class="item_title">
                            <a href="blog_details.html">Aypi non habent claritatem insitam</a>
                        </h3>
                        <p>
                            It is a long established fact that a reader will be distracted eget velit. Donec ac tempus ante. Fusce ultricies massa massa. Fusce aliquam, purus eget sagittis vulputate, sapien libero hendrerit est,
                        </p>
                        <a class="btn btn_gray" href="blog_details.html">REad More</a>
                    </div>
                </div>

                <div class="bolg_standard">
                    <a class="item_image" href="blog_details.html">
                        <img src="assets/images/blog/blog_3.jpg" alt="Getyootech - Gadgets Ecommerce Site Template">
                    </a>
                    <div class="item_content">
                        <ul class="post_meta ul_li">
                            <li>17 July 2023</li>
                            <li><a href="#!">admin</a></li>
                            <li>
                                <ul class="category_list ul_li">
                                    <li><a href="#!">Company</a></li>
                                    <li><a href="#!">Travel</a></li>
                                </ul>
                            </li>
                        </ul>
                        <h3 class="item_title">
                            <a href="blog_details.html">Aypi non habent claritatem insitam</a>
                        </h3>
                        <p>
                            It is a long established fact that a reader will be distracted eget velit. Donec ac tempus ante. Fusce ultricies massa massa. Fusce aliquam, purus eget sagittis vulputate, sapien libero hendrerit est,
                        </p>
                        <a class="btn btn_gray" href="blog_details.html">REad More</a>
                    </div>
                </div>

                <div class="bolg_standard">
                    <a class="item_image" href="blog_details.html">
                        <img src="assets/images/blog/blog_4.jpg" alt="Getyootech - Gadgets Ecommerce Site Template">
                    </a>
                    <div class="item_content">
                        <ul class="post_meta ul_li">
                            <li>17 July 2023</li>
                            <li><a href="#!">admin</a></li>
                            <li>
                                <ul class="category_list ul_li">
                                    <li><a href="#!">Company</a></li>
                                    <li><a href="#!">Travel</a></li>
                                </ul>
                            </li>
                        </ul>
                        <h3 class="item_title">
                            <a href="blog_details.html">Aypi non habent claritatem insitam</a>
                        </h3>
                        <p>
                            It is a long established fact that a reader will be distracted eget velit. Donec ac tempus ante. Fusce ultricies massa massa. Fusce aliquam, purus eget sagittis vulputate, sapien libero hendrerit est,
                        </p>
                        <a class="btn btn_gray" href="blog_details.html">REad More</a>
                    </div>
                </div>

                <div class="pagination_wrap p-0">
                    <ul class="pagination_nav ul_li">
                        <li class="active"><a href="#!">1</a></li>
                        <li><a href="#!">2</a></li>
                        <li><a href="#!">3</a></li>
                        <li class="prev_btn"><a href="#!"><i class="fa-regular fa-angle-left"></i></a></li>
                        <li class="next_btn"><a href="#!"><i class="fa-regular fa-angle-right"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col col-lg-4">
                <aside class="sidebar_section">
                    <div class="sb_widget2 ab_author text-center">
                        <div class="author_image">
                            <img src="assets/images/author/author_1.jpg" alt="Getyootech - Gadgets Ecommerce Site Template">
                        </div>
                        <h3 class="author_name">About Author</h3>
                        <p>
                            It is a long established fact that a reader will be distracted eget velit. Donec ac tempus ante.
                        </p>
                        <span class="author_signature">Author Signature</span>
                    </div>

                    <div class="sb_widget2">
                        <h3 class="sb_widget_title2">Categories</h3>
                        <ul class="sb_category_list2 ul_li_block">
                            <li><a href="#!">Audio</a></li>
                            <li><a href="#!">Company</a></li>
                            <li><a href="#!">Gallery</a></li>
                            <li><a href="#!">Image</a></li>
                            <li><a href="#!">Other</a></li>
                            <li><a href="#!">Travel</a></li>
                        </ul>
                    </div>

                    <div class="sb_widget2">
                        <h3 class="sb_widget_title2">Recent Posts</h3>
                        <ul class="recent_posts_list ul_li_block">
                            <li>
                                <div class="recent_post_item">
                                    <a class="item_image" href="blog_details.html">
                                        <img src="assets/images/recent_post/recent_post_img_1.jpg" alt="Getyootech - Gadgets Ecommerce Site Template">
                                    </a>
                                    <div class="item_content">
                                        <h3 class="item_title">
                                            <a href="blog_details.html">Aypi nonam</a>
                                        </h3>
                                        <span class="post_date">17 July 2023 </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="recent_post_item">
                                    <a class="item_image" href="blog_details.html">
                                        <img src="assets/images/recent_post/recent_post_img_2.jpg" alt="Getyootech - Gadgets Ecommerce Site Template">
                                    </a>
                                    <div class="item_content">
                                        <h3 class="item_title">
                                            <a href="blog_details.html">Aypi nonam</a>
                                        </h3>
                                        <span class="post_date">17 July 2023 </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="recent_post_item">
                                    <a class="item_image" href="blog_details.html">
                                        <img src="assets/images/recent_post/recent_post_img_3.jpg" alt="Getyootech - Gadgets Ecommerce Site Template">
                                    </a>
                                    <div class="item_content">
                                        <h3 class="item_title">
                                            <a href="blog_details.html">Aypi nonam</a>
                                        </h3>
                                        <span class="post_date">17 July 2023 </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="sb_widget2">
                        <h3 class="sb_widget_title2">Tag products</h3>
                        <ul class="sb_tag_list ul_li">
                            <li><a href="#!">asian</a></li>
                            <li><a href="#!">brown</a></li>
                            <li><a href="#!">euro</a></li>
                            <li><a href="#!">risus</a></li>
                            <li><a href="#!">risus</a></li>
                        </ul>
                    </div>

                    <div class="sb_widget2">
                        <h3 class="sb_widget_title2">Instagram</h3>
                        <ul class="sb_instagram_shots ul_li zoom-gallery">
                            <li>
                                <a class="popup_image" href="assets/images/instagram/instagram_img_1.jpg">
                                    <img src="assets/images/instagram/instagram_img_1.jpg" alt="Getyootech - Gadgets Ecommerce Site Template">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a class="popup_image" href="assets/images/instagram/instagram_img_2.jpg">
                                    <img src="assets/images/instagram/instagram_img_2.jpg" alt="Getyootech - Gadgets Ecommerce Site Template">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a class="popup_image" href="assets/images/instagram/instagram_img_3.jpg">
                                    <img src="assets/images/instagram/instagram_img_3.jpg" alt="Getyootech - Gadgets Ecommerce Site Template">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a class="popup_image" href="assets/images/instagram/instagram_img_4.jpg">
                                    <img src="assets/images/instagram/instagram_img_4.jpg" alt="Getyootech - Gadgets Ecommerce Site Template">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a class="popup_image" href="assets/images/instagram/instagram_img_5.jpg">
                                    <img src="assets/images/instagram/instagram_img_5.jpg" alt="Getyootech - Gadgets Ecommerce Site Template">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a class="popup_image" href="assets/images/instagram/instagram_img_6.jpg">
                                    <img src="assets/images/instagram/instagram_img_6.jpg" alt="Getyootech - Gadgets Ecommerce Site Template">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>

        </div>
    </div>
</section>
<!-- blog_section - end
================================================== -->
