<form action="#">
    <div class="select_option clearfix">
        <select>
            <option data-display="Select Category">Select Your Option</option>
            <option value="1" selected>HP Accessories</option>
            <option value="2">Dell Accessories</option>
            <option value="3">Apple Accessories</option>
        </select>
    </div>
</form>

<form action="#">
    <ul class="fs_brand_list ul_li_block">
        <li>
            <div class="checkbox_item">
                <input id="apple_brand" type="checkbox" name="brand_checkbox">
                <label for="apple_brand">Apple <span>(19)</span></label>
            </div>
        </li>
        <li>
            <div class="checkbox_item">
                <input id="asus_brand" type="checkbox" name="brand_checkbox">
                <label for="asus_brand">Asus <span>(1)</span></label>
            </div>
        </li>
        <li>
            <div class="checkbox_item">
                <input id="bank_oluvsen_brand" type="checkbox" name="brand_checkbox">
                <label for="bank_oluvsen_brand">Bank & Oluvsen <span>(1)</span></label>
            </div>
        </li>
    </ul>
</form>

<form action="#">
    <div class="price-range-area clearfix">
        <div class="price-text d-flex align-items-center">
            <span>Range:</span>
            <input type="text" id="amount" readonly>
        </div>
        <div id="slider-range" class="slider-range"></div>
    </div>
</form>

<ul class="average_rating_list ul_li_block">
    <li>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <span>(102)</span>
    </li>
    <li>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <span>(80)</span>
    </li>
    <li>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <span>(26)</span>
    </li>
    <li>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <span>(10)</span>
    </li>
    <li>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <span>(02)</span>
    </li>
</ul>

<ul class="filter_memory_list ul_li_block">
    <li><a href="#!">256 GB or more <span>(12)</span></a></li>
    <li><a href="#!">128 GB <span>(12)</span></a></li>
    <li><a href="#!">16 GB <span>(6)</span></a></li>
    <li><a href="#!">32 GB <span>(7)</span></a></li>
    <li><a href="#!">64 GB <span>(9)</span></a></li>
    <li><a href="#!">8 GB or less <span>(8)</span></a></li>
</ul>